#profile

  header-component(:title='getUserName',
    :left-btn-show='isSelfPage || firstOpenAppPage ? false : true',
    :back-function='backArrow').directbot-header

      div.profile-right-menu.no-desk(slot="content", v-if="isSelfPage")

        i.ic-options_menu(@click.stop="showProfileMenu = true", :class="{'ios-fix': isIos}")

      div.profile-days(slot="content" v-if="isSelfPage && monetizationDays !== null" @click="daysclick")
        span {{ monetizationDays }}
        span.day д

      phone-component(slot="center-content", v-if="!isSelfPage", :phone="shoptel")

      right-nav-component(
        slot="content",
        :current="$route.name === 'profile' ?  'profile' : ''",
        v-on:open-profile-menu="showProfileMenu = !showProfileMenu")


      template(v-if="isSelfPage")
        .profile-cash(slot='center-content', @click="monetizationAction").no-desk
          i.ic-wallet-icon
        .profile-cash(slot='action-elements', @click="monetizationAction").no-mob
          i.ic-wallet-icon

      //-div.profile-cash(
        slot='content',
        v-if="isSelfPage && user.plan_id && monetizationDays === 0",
        @click="monetizationAction")
        img(src="./icons/wallet.png")



  menu-sample.prof-menu(:opened="showProfileMenu", v-on:close="showProfileMenu = false")
    .item(v-if="botActivity")
      .text Отключить бота
    .item(v-if="isMobile && !isTrendever")
      .text(@click.stop="findBloger") Найти блогера
    .item
      .text(@click.stop="supportChat") Поддержка
    .item
      .text(@click.stop="openConditions") Условия
    .item
      .text(@click.stop="openOptions") Настройки
    .item(v-if="isTrendever && !botActivity")
      .text(@click.stop="connectDirect") Начать бизнес
    .item(v-if="!isTrendever && !botActivity").no-desk
      .text(@click.stop="connectDirect") Подключить Instagram
    .item
      .text.__txt-red(@click.stop="logout") Выход
    .item
      .text.__txt-blue Отмена



  .fake-standalone-transparent(v-if="isStandalone")
  .section.top.bottom.db-bottom
    .section__content(v-cloak)

      .profile

        .profile_info

          .profile_info_img(:class="{'no-hidden': !getUserPhoto && !isTrendever && isSelfPage, bordered: !!getUserPhoto}")
            img(:src="getUserPhoto" v-if="getUserPhoto")
            img.bot-mini(src="./img/bot-mini.svg" v-if="isSelfPage && !getUserPhoto && !isTrendever")


          .profile_info_about.no-desk

            template
              span.profile_info_about_type.fake__text(v-if="!shopabout && isSelfPage && !hasAnyInfo")
                | категория {{appWord}} &nbsp
              span.profile_info_about_type(v-if="shopabout")
                | {{ shopabout }} &nbsp

            template(v-if="!isTrendever")
              span.profile_info_about_location.fake__text(v-if="!shoplocation && isSelfPage && !hasAnyInfo")
                | местоположение&nbsp&nbsp
                span(v-if="!isMobile && user.working_time") |&nbsp
              span.profile_info_about_location(v-if="shoplocation")
                span(v-if="shoplocation && !isMobile") |&nbsp
                | &nbsp{{ shoplocation}}&nbsp&nbsp
                span(v-if="!isMobile && user.working_time") |&nbsp

            template(v-if="!isTrendever")
              span.profile_info_about_work-time.fake__text(v-if="!user.working_time && isSelfPage && !hasAnyInfo")
                |  часы работы&nbsp
              span.profile_info_about_work-time(v-if="user.working_time")
                |  &nbsp{{ shoptime }}


        .profile-buttons
          .tags-buttons
            template(v-if="!isTrendever && isSelfPage")
              button.no-mob(v-if="!botActivity",
                  @click="$router.push({name: 'connect-bot'})") ПОДКЛЮЧИТЬ INSTAGRAM
              template(v-if="isAuth")
                button(@click="findBloger") НАЙТИ БЛОГЕРА
                button.no-desk(@click="supportChat") ПОДДЕРЖКА


            template(v-if="isTrendever && isSelfPage")
              button.no-mob(@click="connectDirect") Начать бизнес


            .profile-buttons(v-if="!isSelfPage")
              button.no-mob Написать в магазин


        .profile_desc(v-on:click="isMoreClass = !isMoreClass",
          ref="profileDesk",
          v-bind:class="{ more : isMoreClass, less: !isMoreClass}")
          .profile_desc_t.fake__text(v-if="!getSlogan && isSelfPage") слоган вашего {{appWord}}
          .profile_desc_t(v-if="getSlogan") {{ getSlogan }}


          .profile_info_about(
            :class="{'fake_only': isSelfPage && !hasAnyInfo || isSelfPage && !getUserCaption}").no-mob

            template
              span.profile_info_about_type.fake__text(v-if="!shopabout && isSelfPage && !hasAnyInfo")
                | категория {{appWord}} &nbsp|&nbsp&nbsp
              span.profile_info_about_type(v-if="shopabout")
                | {{ shopabout }} &nbsp

            template(v-if="!isTrendever")
              span.profile_info_about_location.fake__text(v-if="!shoplocation && isSelfPage && !hasAnyInfo")
                | местоположение &nbsp|&nbsp&nbsp
                span(v-if="!isMobile && user.working_time") |&nbsp
              span.profile_info_about_location(v-if="shoplocation")
                span(v-if="shoplocation && !isMobile") |&nbsp
                | &nbsp{{ shoplocation}}&nbsp&nbsp
                span(v-if="!isMobile && user.working_time") |&nbsp

            template(v-if="!isTrendever")
              span.profile_info_about_work-time.fake__text(v-if="!user.working_time && isSelfPage && !hasAnyInfo")
                |  часы работы&nbsp
              span.profile_info_about_work-time(v-if="user.working_time")
                |  &nbsp{{ shoptime }}



          .profile_desc_caption(v-if="getUserCaption" v-html="caption_spaces(getUserCaption)")

          .shipping_rules(:class="{'fake__text': !user.shipping_rules && isSelfPage }")
            .profile_desc_t(v-if="user.shipping_rules") Условия
            .profile_desc_caption.fake__text(v-if="!user.shipping_rules && isSelfPage")
              template(v-if="!isTrendever") подробное описание вашего бизнеса, преимуществ и условий работы
              template(v-if="isTrendever") подробное описание профиля
            .profile_desc_caption(v-if="user.shipping_rules") {{ user.shipping_rules }}

      template(v-if="loaded && isSelfPage")


        template(v-if="!isTrendever")

          .profile_active(v-if="botActivity")

          .grey-banner(v-if="!botActivity && getBannerInfo.indexOf('profile-banner') === -1 && !hideGrey")
            i.ic-close(@click="$store.dispatch('closeStat', 'profile-banner')")
            | После подключения сюда начнут#[br.mobile]
            | добавляться фото#[br.desktop] из вашего&nbsp
            | Instagram.&nbsp#[br.mobile]
            | Это может занять несколько#[br.desktop] минут или часов,#[br.mobile]
            | в зависимости от вашей активности

        template(v-if="isTrendever")
          .grey-banner(v-if="getBannerInfo.indexOf('profile-banner') === -1 && !hideGrey",
            :class="{'has-chats': botActivity}")
            i.ic-close(@click="$store.dispatch('closeStat', 'profile-banner')")
            | Нажмите Сохранить
            | под товаром#[br]
            | или
            | напишите @savetrend
            | под постом в#[br]
            | Instagram, чтобы добавить тренд сюда в ленту

      .profile_insta-link(
        v-if="!isTrendever && isMoreClass",
        :class="{ directbot: true,'margin-top': !isMoreClass }")
        .insta-link-text Cсылка сюда&nbsp
        .insta-link(ref="instaLink") {{ getUserNameLinked }}.{{ source }}

      connect-button(v-if="isSelfPage && isMobile && !botActivity")

  photos(:mentionerId="mentionerId",
    :shopId="supplierProfileID || userShopId",
    :listName="listId",
    :class="{'little-top':isTrendever, 'change-padding': !isSelfPage && isTrendever}")

  .directbot-navbar(v-if="isMobile && isAuth", :class="{'hide-nav': hideNavUser }")
    navbar-component(:current='$route.name === "profile" ? "profile" : ""')
